@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');

body{
	padding: 0;
	margin: 0;
	font-family: 'Oswald';
	&.lock{
		overflow: hidden;
		padding-right: 17px;
		@media (max-width: 768px) {
			padding: 0;
		}
	}
}

*{
	box-sizing: border-box;
}

.navbar{
	position: fixed;
	width: 100vw;
	z-index: 100;
	height: auto;
	padding: 5px 20px;
	background: #f8f6f6;
	transition: .6s;
	&.animation{
		transform: translate(0, -100%);
	}
	.content{
		.logo{
			@media (max-width: 800px) {
				img{
					height: 35px !important;
					margin: 0 10px !important;
				}
				.logo-text{
					height: 22px !important;
					margin-bottom: 7px !important;
				}
				.navbar{
					padding: 2px 15px !important;
				}
			}
			img{
				margin: 10px;
			}
			.logo-text{
				margin-bottom: 14px;
				@media (max-width: 500px) {
					display: none;
				}
			}
		}
	}
}



@keyframes round-anim {
	0%{
		width: 2px;
		height: 2px;
		bottom: 30px;
		box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2), 0 0 0px rgba(255, 255, 255, 0.8);
	}
	15%{
		width: 2px;
		height: 2px;
		bottom: 30px;
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.8);
	}
	75%{
		width: 40px;
		height: 40px;
		bottom: -10px;
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.0), 0 0 40px rgba(255, 255, 255, 0.0);
	}
	100%{
		width: 40px;
		height: 40px;
		bottom: -10px;
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.0), 0 0 40px rgba(255, 255, 255, 0.0);
	}
}

.header{
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	.img-scroll{
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translate(-50%, 0);
		transition: all 1.6s ease .4s;
		@media (max-width: 800px) {
			display: none;
		}
		.round-scroll_to{
			p{
				margin: 0;
				display: block;
				width: 2px;
				height: 2px;
				box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.8);
				margin: 0 auto;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				bottom: 10px;
				transform: translate(-50%, -50%);
				animation-name: round-anim;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-duration: 1.8s;
			}
		}
		.link-down{
			color: #d6d5d5;
			font-size: 12px;
			display: flex;
			text-decoration: none;
			flex-direction: column;
			justify-content: center;
			position: relative;
			img{
				margin: 4px auto;
				width: 18px;
			}
		}
	}
	.header-titele{
		padding: 100px 10px 90px;
		position: relative;
		max-width: 800px;
		z-index: 10;
		@media (max-width: 800px) {

			.header-sub-titele-1{
				font-size: 35px !important;
			}
			.header-sub-titele-2{
				font-size: 20px !important;
			}
		}
		.header-sub-titele-1,
		.header-sub-titele-2{
			font-size: 50px;
			font-weight: bolder;
			display: block;
			text-align: center;
			padding: 5px 15px;
			margin: 0;
			color: #d6d5d5;
			font-family: 'Oswald', sans-serif;
			&.animation{
				// transform: translate(0, 0);
			}
		}
		.header-sub-titele-1{
			transition: all 1.2s ease .0s;
		} 
		.header-sub-titele-2{
			transition: all 1.2s ease .3s;
			font-size: 30px;
		}
	}
	.slider-header{
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		outline: none;
		&.load .slick-arrow{
			&.slick-prev{transform: translate(0, 0px)}
			&.slick-next{transform: translate(0, 0px)}
		}
		picture{
			position: relative;
			height: 100%;
			source,
			img{
				// @media (min-height: 550px) {
				// 	height: auto;
				// 	min-height: 100vh;
				// }
				position: relative;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		.slick-track{
			height: 100%;
			outline: none;
			display: flex;
		}
		.slick-list{
			height: 100%;
			outline: none;
			overflow: hidden;
		}
		.slick-arrow{
			outline: none;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			z-index: 5;
			font-size: 0;
			width: 50px;
			height: 50px;
			outline: none;
			border: none;
			cursor: pointer;
			@media (max-width: 600px) {
				width: 30px;
				height: 30px;
			}
			&.slick-prev{
				transform: translate(-50px, 0);
				left: 0;
				object-fit: cover;
				margin-left: 5px;
				opacity: 0.2;
				transition-duration: .5s, 1.4s;
				transition-delay: .0s, .6s;
				transition-property: opacity, transform; 
				background: url('../img/arrow-prev.png') 0 -3px / 100% no-repeat;
				&:hover{
					opacity: 0.5;
				}
				&:active{
					transition: opacity .2s;
					opacity: 1;
				}
			}
			&.slick-next{
				transform: translate(50px, 0);
				right: 0;
				object-fit: cover;
				opacity: 0.2;
				margin-right: 5px;
				transition-duration: .5s, 1.4s;
				transition-delay: 0s, .6s;
				transition-property: opacity, transform; 
				background: url('../img/arrow-next.png') 0 -3px / 100% no-repeat;
				&:hover{
					opacity: 0.5;
				}
				&:active{
					transition: opacity .2s;
					opacity: 1;
				}
			}
		}
	}
}

.global-titele{
	font-size: 40px;
	color: #3d3d3d;
	font-weight: 400;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
	transform: scale(.7, .7);
	transition: all 1s ease .0s;
	&.animation:after{
		opacity: 1;
		transform: translate(-50%, 0);
	}
	&:after{
		transition: all 1.4s ease .7s;
		content: '';
		position: absolute;
		width: 105px;
		left: 50%;
		transform: translate(-50%, 20px);
		display: block;
		height: 2px;
		background: #f4511e;
		opacity: 0;
	}
}

.global-text{
	text-align: center;
	color: #919191;
	font-weight: 400;
	font-size: 16px;
	max-width: 550px;
	margin: 0 auto;
	transition: all 1.4s ease .1s;
	transform: scale(.8, .8);
}

.content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	.abut-us{
		margin: 30px 0;
		padding: 10px;
		.abut-blocks{
			margin: 50px 0 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.box-abut{
				cursor: default;
				background: #ebebeb;
				padding: 20px;
				max-width: 250px;
				margin: 10px auto;
				display: flex;
				transition:	1s;
				flex-direction: column;
				&.box-1{transform: translate(-50px, 0)}
				&.box-2{transform: translate(0, -50px)}
				&.box-3{transform: translate(50px, 0)}
				&.animation{
					transform: translate(0, 0);
				}
				.block-titele{
					width: 100%;
					font-size: 26px;
					font-family: 'Oswald';
					color: #707070;
					padding: 10px 0;
					text-align: center;
				}
				.block-text{
					width: 100%;
					padding: 0 0 10px;
					text-align: center;
					color: #707070;
					font-size: 15px;
					margin-top: auto;
				}
				p[class^=img]{
					display: flex;
					justify-content: center;
					height: 57px;
				}
				.img-unique{
					height: 44px;
					padding: 6px 0;
				}
				.img-imfinute{
					height: 27px;
					padding: 15px 0;
				}
			}
		}
	}
}
.video{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 80px 0;
	@media (max-width: 1200px) {
		.video-left_block{
			.wrap-block{
				margin: 35px auto !important;
			}
		}
	}
	@media (max-width: 830px) {
		.video-titele{
			font-size: 20px !important;
		}
		.video-text{
			font-size: 15px !important;
		}
	}
	@media (max-width: 768px) {
		.video-right{
			width: 100% !important;
			margin: 0 !important;
		}
		.video-left_block{
			width: 100% !important;
		}
	}
	.video-left_block{
		background: #171f23;
		width: 50%;
		padding: 0 15px;
		height: auto;
		.wrap-block{
			max-width: 400px;
			margin: 80px auto;
			position: relative;
			.video-titele{
				color: #e7e7e7;
				font-size: 26px;
				font-family: 'Oswald';
				text-align: center;
				transition: all 1.4s ease .2s;
				transform: scale(.8, .8);
				&.animation{
					transform: scale(1, 1);
				}
			}
			.video-text{
				transition: all 1.4s ease .5s;
				color: #696969;
				text-align: center;
				font-size: 18px;
				margin: 0 0 120px;
				transform: scale(.8, .8);
				&.animation{
					transform: scale(1, 1);
				}
			}
			.video-btn{
				position: absolute;
				left: 50%;
				top: 110%;
				transform: translate(-50%, 0px);
				outline: none;
				padding: 7px 30px;
				border: none;
				display: block;
				background: #e84c3d;
				color: #ebebeb;
				font-weight: bold;
				border-bottom: 3px solid #b11000;
				transition-delay: .6s, 0s, 0s, 0s, 0s, 0s;
				transition-duration: 2s, .4s, .4s, .3s, .3s;
				transition-property: opacity, border-bottom, 
									transform, color, background;  
				&:hover{
					color: #d4d3d3;
					background: #b93e32;
				}
				&:active{
					border-bottom: 0px solid #b11000;
					transform: translate(-50%, 3px);
				}
			}
		}
	}
	.video-right{
		width: 50%;
		margin-top: 3px;
		transition: all 1.2s ease .4s;
		transform: scale(.8, .8);
		&.animation{
			transform: scale(1, 1);
		}
		.video-wrap{
			display: flex;
			position: relative;
			.video-img{
				display: flex;
				opacity: 0;
				visibility: hidden;
				&.visible{
					position: relative;
					z-index: 5;
					opacity: 1;
					visibility: visible;
				}
				source,
				img{
					height: auto;
					width: 100%;
					object-fit: cover;
					outline: none;
					cursor: pointer;
				}
			}
			.iframe-video{
				left: 0;
				top: 0;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.worcs{
	.worcs-wrap{
		margin: 20px auto;
		max-width: 450px;
	}
	.worcs-tabs{
		padding: 0 30px;
		@media (max-width: 600px) {
			padding: 0 15px;
		}
		.tabs{
			max-width: 700px;
			margin: 0px auto;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			label{
				color: #353535;
				cursor: pointer;
				padding: 3px 10px;
				margin: 8px auto;
				position: relative;
				transform: translate(-60px, 0);
				transition-duration: 1s, 1s, 0s;
				transition-property: transform, opacity, font-weight;
				&.tab-worcs-1{
					transition-delay: 0s, 0s, 0s;
				}
				&.tab-worcs-2{
					transition-delay: .2s, .2s, 0s;
				}
				&.tab-worcs-3{
					transition-delay: .4s, .4s, 0s;
				}
				&.tab-worcs-4{
					transition-delay: .6s, .6s, 0s;
				}
				&.tab-worcs-5{
					transition-delay: .8s, .8s, 0s;
				}
				&.animation{
					transform: translate(0, 0);
					opacity: 1;
				}
				&.animation.active:after{
					transition: all 1s ease .6s;
					opacity: 1;
					transform: translateY(0px);
				}
				&.active{
					font-weight: bold;
					&:after{
						content: '';
						opacity: 0;
						transform: translateY(20px);
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 2px;
						background: #f15324;
						display: block;
					}
				}
			}
		}
		.tabs-body{
			width: 100%;
			overflow: hidden;
			&.visible{
				overflow: visible;
			}
			input{
				position: absolute;
				visibility: hidden;
			}
			#tab-1:checked ~ .tab-track{
				transform: translate(0, 0);
			}
			#tab-2:checked ~ .tab-track{
				transform: translate(-20%, 0);
			}
			#tab-3:checked ~ .tab-track{
				transform: translate(-40%, 0);
			}
			#tab-4:checked ~ .tab-track{
				transform: translate(-60%, 0);
			}
			#tab-5:checked ~ .tab-track{
				transform: translate(-80%, 0);
			}
			.tab-track{
				transition: .6s;
				width: 500%;
				display: flex;
				flex-direction: row;
				position: relative;
				z-index: 5;
				div[class^=tab-]{
					width: 100%;
					.tab-content{
						width: 100%;
						display: flex;
						overflow: hidden;
						flex-wrap: wrap;
						margin: 20px 0 0;
						z-index: 10;
						.wrap-pcture{
							width: 25%;
							position: relative;
							background: #e84c3d;
							overflow: hidden;
							&.anim-items{
								transform: scale(.8, .8);
								opacity: 0;
							}
							&.img-1{transition: all 1s ease .4s}
							&.img-2{transition: all 1s ease 1.1s}
							&.img-3{transition: all 1s ease .1s}
							&.img-4{transition: all 1s ease .0s}
							&.img-5{transition: all 1s ease 1s}
							&.img-6{transition: all 1s ease .3s}
							&.img-7{transition: all 1s ease .9s}
							&.img-8{transition: all 1s ease .5s}
							&.img-9{transition: all 1s ease .8s}
							&.img-10{transition: all 1s ease .7s}
							&.img-11{transition: all 1s ease 1.2s}
							&.img-12{transition: all 1s ease .6s}
							&.animation{
								opacity: 1;
								transform: scale(1, 1);
							}
							@media (max-width: 750px) {
								width: 33.3333%;
							}
							@media (max-width: 500px) {
								width: 50%;
								.worcs-tabs{
									padding: 0 10px !important;
								}
							}
							.popap-linck{
								position: absolute;
								width: 100%;
								height: 100%;
								display: block;
								left: 0;
								top: 0;
								&:hover ~ .pcture-a{
									transform: translate(0, 0);	
									i{
										opacity: 1;
									}					
								}
							}
							.pcture-a{
								position: absolute;
								width: 100%;
								height: 100%;
								left: 0;
								top: 0;
								transition: .3s;
								background: rgba(0,0,0,.6);
								transform: translate(0, 100%);
								i{
									color: #6f6f6f;
									position: absolute;
									transform: translate(-50%, -50%);
									font-size: 28px;
									left: 50%;
									top: 50%;
									opacity: 0;
									transition: all .3s ease .2s;
								}
								&:hover{
									transform: translate(0, 0);	
									i{
										opacity: 1;
									}					
								}
							}
							.tab-content--img{
								
								&:hover ~ .pcture-a{
									transform: translate(0, 0);
									i{
										opacity: 1;
									}
								}
								source,
								img{
									padding: 0px 1px 1px 1px;
									display: flex;
									width: 100%;
									object-fit: cover;
								}
							}
						}
					}
				}
			}
		}
	}
	.worcs-footer{
		background: #1c1c1c;
		padding: 30px;
		z-index: 1;
		opacity: 0;
		transition: 1s;
		&.animation{
			opacity: 1;
			transform: translatey(0%);
		}
		.slider-worcs{
			// width: 95%;
			// margin: 0 auto;

			position: relative;
			.slider-worcs-wrap{
				padding: 5px 35px;
				@media (max-width: 1024px) {
					padding: 5px 10px;
				}
				@media (max-width: 900px) {
					padding: 5px 0px;
				}
				.slide{
					@media (max-width: 670px) {
						// justify-content: center;
					}
					display: flex;
					flex-direction: row;
					justify-content: center;
					// position: relative;
					p{
						@media (max-width: 400px) {
							font-size: 20px;
							margin: 0px 0 0 12px;
						}
						margin: 10px 12px;
						font-size: 30px;
						color: #888;
						text-align: center;
					}
					.wrap-img{
						img{
							display: flex;
							margin-right: 15px;
							object-fit: cover;
							// width: auto;
							height: 100%;
							@media (max-width: 400px) {
								margin-right: 0;
							}
							@media (max-width: 400px) {
								width: 40px;
								height: auto;
							}
						}
					}
				}
			}
			.swiper-button-next,
			.swiper-button-prev{
				transition: .3s;
				&:hover{
					opacity: 0.8;
				}
				&:after{
					
					color: #555;
					font-weight: bolder;
					font-size: 30px;
					
				}
			}
		}
	}
}
.popaps{
	.popap{
		z-index: 50;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .8);
	 	opacity: 0;
	 	visibility: hidden;
		transition: .8s;
		&.open{
			visibility: visible;
			opacity: 1;
			position: fixed;
			width: 100vw;
			height: 100vh;
			left: 0;
			top: 0;
			.popap-body{
				.popap-content{
					overflow: visible;
					height: 100%;
					transform: perspective(0px) translate(0, 0%) rotatex(0deg);
					opacity: 1;
					visibility: visible;
					transition-property: transform, opacity, height;
					transition-duration: 1s, 1s, 0s;
					transition-delay: 0s;
				}
			}
		}
		.clouce-btn{
			text-decoration: none;
			position: fixed;
			z-index: 100;
			display: block;
			top: -55px;
			right: -60px;
			color: #fff;
			padding: 70px 90px 40px 40px;
			text-align: center;
			background: rgba(0, 0, 0, .5);
			transition: .3s;
			font-size: 28px;
			border-radius: 50%;
			opacity: 0.8;
			@media (max-width: 700px) {
				padding: 50px 70px 30px 30px;
			}
			&:hover{
				opacity: 1;
				background: rgba(0, 0, 0, .7);
			}
		}
		.popap-body{
			min-height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 50px 35px;
			@media (max-width: 500px) {
				padding: 0px 10px 0px;
			}
			@media (max-height: 760px) {
				padding: 0px 10px 0px;
			}
			@media (max-height: 360px) {
				padding: 5px 10px;
			}
			.popap-content{
				@media (max-width: 1024px) {
					// width: auto;
					max-width: 100vw;
				}
				@media (max-height: 500px) {
					height: 95vh;
					max-height: 95vh;
				}
				transition-property: transform, opacity, height;
				transition-duration: 1s, 1s, 0s;
				transition-delay: 0s, 0s, 1s;
				height: 0;
				opacity: 0;
				min-width: 0;
				visibility: hidden;
				max-width: 900px;
				overflow: hidden;
				@media (max-width: 700px) {
					transform: perspective(600px) translate(0, -130%) rotatex(45deg);
				}
				transform: perspective(600px) translate(0, -100%) rotatex(45deg);
				&.bg{
					padding: 20px 30px;
					background: #1f282c;
				}
				.swiper-container{
					width: 100%;
					min-width: 0;
					position: relative;
					.swiper-wrapper{
						position: relative;
						// display: flex;
						// justify-content: center;
						.swiper-slide{
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							margin: 0 auto;
							.slide-pcture{
								// width: 100%;
								// height: 100%;
								display: flex;
								source,
								img{
									@media (max-width: 1024px) {
										// width: auto;
										object-fit: contain;
										max-width: 95vw;
									}
									@media (max-height: 500px) {
										// height: 95vh;
										max-height: 95vh;
									}
									visibility: inherit;
									width: 100%;
									height: 100%;
									object-fit: contain;
								}
							}
						}
					}
					.swiper-button-next,
					.swiper-button-prev{
						&:after{
							color: #555;
							font-weight: bolder;
							font-size: 50px;
						}
					}
					.swiper-pagination{
						color: #fff;
						text-shadow: 0 0 2px #000;
						@media (max-width: 900px) {
							// color: #000;
						}
					}
				}
				// .form-container{
				// 	display: flex;
				// 	flex-direction: column;
				// 	.popap-titele{
				// 		text-align: center;
				// 		font-weight: bold;
				// 		font-size: 26px;
				// 		color: #fff;
				// 		padding: 5px 15px;
				// 		position: relative;
				// 		&:after{
				// 			content: '';
				// 			position: absolute;
				// 			width: 50px;
				// 			display: block;
				// 			height: 1px;
				// 			left: 50%;
				// 			bottom: 0;
				// 			transform: translate(-50%, 0);
				// 			background: #404040;
				// 		}
				// 	}
				// 	.wrap-form{
				// 		display: flex;
				// 		justify-content: space-between;
				// 		.name,
				// 		.email{
				// 			margin: 10px;
				// 			p{
				// 				margin: 0 0 3px;
				// 				text-align: left;
				// 			}
				// 			input{
				// 				font-size: 17px;
				// 				padding: 5px 10px;
				// 				width: 350px;
				// 				border: 2px solid #494950;
				// 				outline: none;
				// 				&:focus{
				// 					border-color: #f26c4f;
				// 				}
				// 			}
				// 		}

				// 	}
				// 	.massaeg-titele{
				// 		text-align: left;
				// 		margin: 0 10px;
				// 	}
				// 	.massaeg-popap{
				// 		max-width: 750px;
				// 		padding: 5px 10px;
				// 		font-size: 17px;
				// 		outline: none;
				// 		border: 2px solid #494950;
				// 		margin: 3px 10px 5px;
				// 		resize: none;
				// 		&:focus{
				// 			border-color: #f26c4f;
				// 		}
				// 	}
				// 	.submit-plan{
				// 		margin: 15px auto 0;
				// 		padding: 5px 35px;
				// 		font-weight: bold;
				// 		font-size: 18px;
				// 		color: #fff;
				// 		background: #f6744b;
				// 		border: none;
				// 		border-radius: 4px;
				// 		outline: none;
				// 		cursor: pointer;
				// 		transition: .3s;
				// 		&:hover{
				// 			transform: translate(0, -1px);
							
				// 		}
				// 		&:focus{
				// 			color: #e5e5e5;
				// 			background: #d06340;
				// 		}
				// 	}
				// }
			}
		}
	}
}
.woh_we_are{
	margin: 40px 0;
	.woh_we-tabs{
		margin-top: 30px;
		position: relative;
		@media (max-width: 1200px) {
			.my_scils{
				width: 620px;
				.progres_bar{
					width: 400px !important;
					margin: 9px 10px;
				}
			}
		}
		@media (max-width: 1100px) {
			.my_scils{
				width: 550px;
				.progres_bar{
					width: 360px !important;
				}
			}
		}
		@media (max-width: 1020px) {
			.tab-1-content .my_scils{
				width: 500px;
				.progres_bar{
					width: 300px !important;
				}
			}
		}
		@media (max-width: 950px) {
			.tab-1-content .my_scils{
				max-width: 500px !important;
				.progres_bar{
					width: 220px !important;
				}
			}
			.me{
				width: 340px !important;
			}
		}
		@media (max-width: 860px) {
			.tab-1-content .my_scils{
				max-width: 450px !important;
				.progres_bar{
					width: 150px !important;
				}
			}
			.me{
				width: 310px !important;
			}
		}
		@media (max-width: 780px) {
			.tab-1-content{
				flex-direction: column !important;
				.my_scils{
					width: 100% !important;
					margin: 5px auto !important;
					.progres_bar{
						width: 150px !important;
					}
				}
				.me{
					width: 500px !important;
					margin-bottom: 10px;
					left: 50% !important;
					transform: translateX(-50%);
				}
			}
		}
		@media (max-width: 540px) {
			.tab-1-content{
				.my_scils{
					margin: 5px auto !important;
				}
				.me{
					width: 100% !important;
					margin: 10px auto !important;
				}
			}
		}
		@media (max-width: 400px) {
			.tab-1-content .my_scils{
				padding: 50px 40px 50px !important; 
				.progres_bar{
					width: 100px !important;
				}
			}
		}
		@media (max-width: 350px) {
			.tab-1-content .my_scils{
				.progres_bar{
					width: 70px !important;
				}
			}
		}
		.tab-1-content{
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			z-index: 2;
			input[type=radio]{
				position: absolute;
				visibility: hidden;
			}
			#tab-1-1:checked ~ .my_scils .my_scils-scil{
				.name_scil.tab-1{
					position: relative;
					opacity: 1;
				}
				.progres_bar{
					&.bar-1 span{
						width: 88%;
					}
					&.bar-2 span{
						width: 92%;
					}
					&.bar-3 span{
						width: 90%;
					}
					&.bar-4 span{
						width: 98%;
					}
				}
			}
			#tab-1-2:checked ~ .my_scils .my_scils-scil{
				.name_scil.tab-2{
					position: relative;
					opacity: 1;
				}
				.progres_bar{
					&.bar-1 span{
						width: 98%;
					}
					&.bar-2 span{
						width: 85%;
					}
					&.bar-3 span{
						width: 95%;
					}
					&.bar-4 span{
						width: 90%;
					}
				}
			}
			#tab-1-3:checked ~ .my_scils .my_scils-scil{
				.name_scil.tab-3{
					position: relative;
					opacity: 1;
				}
				.progres_bar{
					&.bar-1 span{
						width: 78%;
					}
					&.bar-2 span{
						width: 90%;
					}
					&.bar-3 span{
						width: 99%;
					}
					&.bar-4 span{
						width: 86%;
					}
				}
			}
			.me-wrap .me.active{
				position: relative;
				top: 0;
				left: 0;
				visibility: visible;
				opacity: 1;
			}
			.me-wrap{
				position: relative;
				.tabs-1{
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: 80%;
					width: 78px;
					z-index: 2;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					z-index: 6;
					opacity: 0;
					transition: all 2s ease .5s;
					&.animation{
						opacity: 1;
					}
					.tab-woh_we-01{
						width: 18px;
						height: 18px;
						display: block;
						background: #fff;
						border-radius: 50%;
						left: 0;
						top: 100px;
						cursor: pointer;
						transition: .4s;
						&:hover{
							background: #b6b6b6;
						}
						&.active{
							background: #8e8181;
						}
					}
				}
				&.anim-items{
					opacity: 0;
					transform: translateX(-30px);
					transition: 1s;
				}
				&.animation{
					opacity: 1;
					transform: translateX(0px);
				}
				.me{
					height: 100%;
					margin-right: 10px;
					width: 420px;
					display: flex;
					justify-content: center;
					flex-direction: column;
					padding: 60px 15px;
					background: #e6e6e6;
					transition: 1s;
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
					.me-poto{
						margin: 15px auto 0;
						img{
							border: 2px solid #f26c4f;
							width: 150px;
							height: 150px;
							border-radius: 50%;
						}
					}
					.me-name{
						margin: 15px auto 0;
						font-weight: bold;
						font-size: 26px;
						color: #3d3d3d;
					}
					.me-post{
						margin: 0px auto 10px;
						font-size: 18px;
						font-weight: 100;
						color: #777;
					}
					.me-sot-set{
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 70px;
						margin: 0px auto 60px;
						.sot-set{
							transition: .6s;
							img{
								width: 15px;
								transition: .6s;
							}
							&:hover{
								img{
									transform: translate(0, -3px);
								}
							}
						}
					}
				}
			}
			.my_scils{
				@media (max-width: 550px) {
					padding: 60px 30px 50px;
				}
				background: #e6e6e6;
				max-width: 700px;
				padding: 150px 40px 60px;
				opacity: 0;
				transform: translateX(50px);
				transition: 1s;
				&.animation{
					opacity: 1;
					transform: translateX(0px);
				}
				.my_scils-titele{
					color: #3d3d3d;
					font-size: 24px;
					font-weight: bold;
				}
				.my_scils-text{
					color: #858383;
					margin-bottom: 40px;
				}
				.my_scils-scil{
					margin: 5px 0;
					display: flex;
					justify-content: space-between;
					position: relative;
					.name_scil{
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						text-wrap: none;
						color: #3d3d3d;
						width: 100px;
						opacity: 0;
						position: absolute;
						opacity: 0;
						transition: .6s;
					}
					.progres_bar{
						width: 500px;
						background: #fff;
						margin: 10px 10px;
						position: relative;
						&.tab-1{
							&.bar-1{
								height: 2.4px;
								span{
									width: 88%;
								}
							}
							&.bar-2{
								height: 2.4px;
								span{
									width: 92%;
								}
							}
							&.bar-3{
								height: 2.4px;
								span{
									width: 90%;
								}
							}
							&.bar-4{
								height: 2.4px;
								span{
									width: 98%;
								}
							}
						}
						&.tab-2{
							&.bar-1{
								height: 2.4px;
								span{
									width: 98%;
								}
							}
							&.bar-2{
								height: 2.4px;
								span{
									width: 85%;
								}
							}
							&.bar-3{
								height: 2.4px;
								span{
									width: 90%;
								}
							}
							&.bar-4{
								height: 2.4px;
								span{
									width: 98%;
								}
							}
						}
						&.tab-3{
							&.bar-1{
								height: 2.4px;
								span{
									width: 78%;
								}
							}
							&.bar-2{
								height: 2.4px;
								span{
									width: 90%;
								}
							}
							&.bar-3{
								height: 2.4px;
								span{
									width: 99%;
								}
							}
							&.bar-4{
								height: 2.4px;
								span{
									width: 86%;
								}
							}
						}
						span{
							transition: 1s;
							position: absolute;
							display: block;
							background: #e84c3d;
							height: 100%;
							left: 0;
							top: 0;
							bottom: 0;
						}
					}
				}
			}
		}
	}
}
.statistic{
	width: 100%;
	background: #171f23;
	.statistic_titele{
		text-align: center;
		color: #fff;
		font-weight: bold;
		margin-top: 30px;
		padding: 10px;
		padding-top: 30px;
		font-size: 28px;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 70px;
			height: 2px;
			position: absolute;
			background: #404040;
			transform: translate(-50%, 0);
			left: 50%;
			bottom: 0;
		}
	}
	.statistic-wrap{
		max-width: 1200px;
		margin: 0 auto 40px;
		padding: 20px 50px 70px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	div[class^=statistic-]{
		color: #fff;
		margin: 0 auto;
		text-align: center;
		.statistic-icon{
				&.margim{
				margin: 10px 0 7px;
			}
		}
		.statistic-name{
			margin: 10px;
			font-size: 20px;
			font-weight: 100;
		}
		.statistic-nubers{
			margin: 10px;
			font-size: 26px;
			font-weight: 100;
		}
	}
}
.blog{
	margin: 40px 0 20px;
	.blog-body{
		margin: 40px 0 0px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.blog-block{
			margin: 15px auto;
			max-width: 320px;
			background: #ebebeb;
			transition: .5s;
			display: flex;
			flex-direction: column;
			opacity: 0;
			transition: 1s;
			&.block-1{transform: translate(-50px, 0)}
			&.block-2{transform: translate(0, -50px)}
			&.block-3{transform: translate(50px, 0)}
			&.animation{
				transform: translate(0, 0);
				opacity: 1;
			}
			&:hover,
			&:focus{
				box-shadow: 0px 5px 10px rgba(0, 0, 0, .4);
				transform: translate(0, -5px);
				.block-icon{
					.icon-bg{
						transition: .6s;
						opacity: 0;
					}
					.watch,
					.chain{
						opacity: 1;
						transform: translate(0, 0%);
					}
				}
			}
			.block-icon{
				position: relative;
				overflow: hidden;
				img{
					width: 100%;
					display: block;
				}
				.icon-bg{
					position: absolute;
					width: 100%;
					height: 100%;
					background: #787474;
					left: 0;
					top: 0;
					transition: all .5s ease .15s;
					@media (max-width: 1200px) {
						opacity: 0;
					}
				}
				.watch{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 70px;
					height: 70px;
					text-decoration: none;
					right: 22%;
					top: 75px;
					border-radius: 50%;
					position: absolute;
					z-index: 2;
					background: #f6e5e0;
					opacity: 0;
					transition: .5s, background .4s, color .4s;
					transform: translate(0, 30%);
					&:hover{
						background: #ccb9b3;
						color: #bc593a;
					}
					i{
						font-size: 22px;
						color: #f58c6c;
					}
				}
				.chain{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 70px;
					height: 70px;
					text-decoration: none;
					left: 22%;
					top: 75px;
					border-radius: 50%;
					position: absolute;
					z-index: 2;
					background: #e87e5d;
					opacity: 0;
					color: #fff;
					transition: all .6s ease .1s, background .4s, color .4s;
					transform: translate(0, 30%);
					&:hover{
						background: #ba684e;
						color: #d6d6d6;
					}
					i{
						z-index: 4;
						font-size: 22px;
					}
				}
			}
			.text-wrap{
				padding: 20px;
				position: relative;
				.block-href{
					width: 100%;
					height: 90%;
					display: block;
					position: absolute;
				}
				.block-titele{
					font-weight: 400;
					font-size: 20px;
					margin: 15px 0;
					color: #656565;
				}
				.block-text{
					font-weight: 300;
					color: #979797;
				}
			}
			.inf-blog{
				color: #8a8989;
				display: flex;
				justify-content: space-between;
				padding: 0 20px 20px;
				margin-top: auto;
				.date-blog{
					i{
						font-size: 20px;
					}
				}
				.wrap-block{
					display: flex;
					.date-blog{
						a{
							i{
								font-size: 20px;
							}
						}
					}
					.coment-blog{
						margin-left: 10px;
						a{
							transition: .3s;
							text-decoration: none;
							color: #8a8989;
							&:hover{
								color: #666;
							}
							i{
								overflow: hidden;
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}
}
.plan{
	margin-top: 90px;
	color: #fff;
	background: #171f23;
	padding: 50px 15px 40px;
	text-align: center;
	&.width{
		width: 100vw;
		.prase-blocks{
			padding-right: 27px;
			max-width: 1167px;
		}
	}
	.plan-titele{
		margin: 10px 0 20px;
		font-weight: 500;
		font-size: 34px;
		padding: 10px 5px;
		text-align: center;
		position: relative;
		transform: scale(.8, .8);
		transition: 1s;
		&.animation{
			opacity: 1;
			transform: scale(1, 1);
			&:after{
				opacity: 1;
				bottom: 0;
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 60px;
			height: 2px;
			left: 50%;
			bottom: -20px;
			transform: translate(-50%, 0px);
			opacity: 0;
			transition: all 1s ease .5s;
			background: #404040;
		}
	}
	.prase-blocks{
		max-width: 1150px;
		margin: 0 auto 50px;
		padding: 20px 10px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.prase-block{
			width: 275px;
			margin: 10px auto;
			background: #1f282c;
			&.block-1{
				transform: translate(-50px, 0);
				transition: all 1.2s ease .5s;
				 .prase-block--head{
					padding-bottom: 43px;
				}
			}
			&.block-2{
				transform: translate(0, -50px);
				transition: 1.2s;
			}
			&.block-3{
				transform: translate(0, 50px);
				transition: 1.2s;
			}
			&.block-4{
				transform: translate(50px, 0);
				transition: all 1.2s ease .5s;
			}
			&.animation{
				transform: translate(0, 0);
			}
			.prase-block--head{
				background: #0e1316;
				padding: 40px 10px;
				display: flex;
				flex-direction: column;
				.name-pac{}
				.prase-number{
					font-size: 30px;
					display: flex;
					justify-content: center;
					line-height: 31px;
					p{
						margin: 3px 0 0;
						font-size: 20px;
					}
				}
			}
			.wrap-services{
				padding: 40px 5px;
				.service{
					font-weight: 100;
					margin: 7px 0;
					display: flex;
					justify-content: center;
					flex-direction: row;
					margin: 10px 0;
					.service-bold{
						margin: 0 5px;
						font-weight: 500;
						&.color{
							color: #cb6545;
						}
					}
				}
				.btn-purchase{
					font-weight: bold;
					color: #fff;
					background: #f6744b;
					border-radius: 4px;
					outline: none;
					border: none;
					display: block;
					text-decoration: none;
					padding: 5px 25px;
					margin: 10px auto;
					width: 130px;
					transition: .3s;
					&:hover{
						transform: translate(0, -2px);
						color: #e5e5e5;
						background: #d4623f;
					}
				}
			}
		}
	}
}
.contact{
	width: 90%;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	input,
	textarea{
		outline: none;
		border: none;
		border-bottom: 1px solid #cacaca;
		// transition: .4s;
		width: 100%;
		font-size: 17px;
		transition: transform 1s;
		transform: scale(.8, .8);
		&:focus{
			border-bottom-color: #000;
		}
	}
	.form-container{
		.contact-wrap{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: row;
			.name{
				width: 48%;
				transition: 1s;
				&.animation{
					input{
						transform: scale(1, 1);
					}
				}
				p{
					margin: 10px 0;
					font-weight: bold;
					color: #696969;
				}
			}
			.email{
				margin-left: auto;
				width: 40%;
				transition: 1s;
				&.animation{
					input{
						transform: scale(1, 1);
					}
				}
				p{
					margin: 10px 0;
					font-weight: bold;
					color: #696969;
				}
			}
		}
		.massaeg{
			transition: 1s;
			&.animation{
				textarea{
					transform: scale(1, 1);
				}
			}
			p{
				margin: 10px 0;
				font-weight: bold;
				color: #696969;
			}
			textarea{
				max-width: 100%;
			}
		}
		.submit{
			background: #f6744b;
			color: #fff;
			outline: none;
			border: none;
			padding: 10px 40px;
			// max-width: 250px;
			margin: 10px auto; 
			cursor: pointer;
			font-weight: bold;
			transition: .3s;
			&:hover{
				box-shadow: 1px 1px 7px rgba(0, 0, 0, .9);//, 1px 1px .5rem #000;
			}
			&:focus{
				color: #ffdbcf;
				background: #cd6b4c;
			}
		}
	}
}
.map{
	overflow: hidden;
	height: 65px;
	transition: .8s;
	&.open{
		height: 70vh;
		.open-btn span{
			transform: rotate(0deg);
			transition: .8s;
		}
	}
	.open-btn{
		padding: 12px 5px;
		background: #0c1215;
		width: 100%;
		border: none;
		outline: none;
		text-align: center;
		color: #fff;
		font-weight: bold;
		font-size: 22px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		// overflow-anchor: none;
		transition: .4s;
		&:hover{
			background: #111;
			color: #b3b3b3;
			span{
				opacity: 0.8;
			}
		}
		span{
			margin: 10px 0;
			margin-left: 10px;
			transition: .6s;
			transform: rotate(180deg);
			color: #f6744b;
			font-weight: bold;
			font-size: 20px;
		}
	}
	iframe{
		width: 100%;
		height: 100%;
	}
}
.footer{
	overflow-anchor: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #171f23;
	color: #fff;
	font-weight: bold;
	padding: 50px 5px;
	.footer-logo{
		margin: 5px auto;
		width: 25px;
	}
	.footer-tetele{
		margin: 5px;
		text-align: center;
		padding: 5px 15px;
	}
	.footer-text{
		padding: 5px 15px;
		margin: 5px;
		text-align: center;
	}
	.footer-sot-set{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100px;
		margin: 5px auto;
		.sot-set{
			transition: .6s;border-radius: 5px;
			&.tviter{
				img{

				}
			}
			img{
				width: 17px;
				transition: .6s;
			}
			&:hover{
				transform: translate(0, -3px);
				img{
					box-shadow: 2px 2px 10px #000;
				}
			}
		}
	}
}



.hidden-block{
	overflow: hidden;
}

.anim-items{
	@media (max-width: 800px) {
		transform: 0;
		opacity: 1;
	}
	opacity: 0;
	&.animation{
		transform: 0;
		opacity: 1;
	}
}